.empList {
    background-color: lightblue; /* Light blue background for the employee list */
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.empList h2 {
    margin: 0rem; /* No margin for the title */
}

.empList .emp {
    background-color: lightgrey; /* Light grey background for each employee */
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
}

.empList .emp p {
    margin-top: 0rem; /* No margin on top of paragraphs inside employees */
}

.empList .emp button {
    background-color: rgb(255, 17, 0); /* Light green buttons inside each employee component */
    border: none; /* Remove border from buttons */
    padding: 0.3rem 0.5rem;
    margin: 0.3rem 0;
    cursor: pointer; /* Change cursor to pointer when hovering over the button */
}

.empList .emp button:hover {
    background-color: #90EE90; /* A darker green when the button is hovered */
}
